<html>
    <head>
        <title>
        pancho_blog
        </title>
    </head>
        <body>
            <div>
                <h1>El blog de Pancho</h1>
            </div>
            
            <div>
                <p>Plublicado hoy</p>
                <h2><a href="">1st post</a></h2>
                <p>Lorem ipsum lorem ipsum lorem ipsum</p>
            </div>
            
            <div>
                <p>publicado manana</p>
                <h3><a href="">2nd post</a></h3>
                <p>lorem lorem lorem itsum itsum itsumm lorem
            </div>

        </body>
</html>
