html, body {
font: ;
height: 100%;
margin: 0px;
padding: 0px;
}

h1 {
	color: red;
	padding-left: 10px;	
}

h1 a {
	color: white;

}

p {
	color:;
	padding:30px 30px;
}

.post {
	color: dimgrey;
	margin: 20px ;
	border: solid grey 1px;
}

.page-header {
	marging-top: 0px;
	padding: 20px;
	border-bottom: none;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
	color: white;
	font-size: 36pt;
	text-decoration: none;
}

.content {

}

h1, h2, h3, h4 {
	font-family: arial;
}

.date {
	color: #828282;
}

.sub-title {
	font-size: 12pt;
}

.save {
	float: right;
}

.post-form textarea, .post-form input {
	width: 100%;
}


.post a, .post h1 a, .post h1 a:visited {
	color: red;
}

.grey {
	background: grey;

}


.row.match-my-cols {
	overflow: hidden;
}

.row.match-my-cols {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}


.menus ul {
padding-bottom: 5px;
margin: 20px;
}

.menus ul li{
display: inline;
background: lightgrey;
padding: 5px;
text-decoration: none;
}



.menus li a:visited, .menus li a:active {
color: red;
text-decoration: none;

}

.menus li a:hover {
color: white;
text-decoration: none;
}

